.container {
    font-family: 'Dancing Script', cursive;
      display: flex;
      width: 100%;
      flex-wrap: row wrap;
      justify-content: space-between;
      column-gap: 9px;
    }
    
    .item {
      font-family: 'Dancing Script', cursive;
      
      margin-bottom: 2%;
    }
    
    .align{
      align-self: center;
      flex: row-wrap
    }
   
    
        
    .line-height{
        line-height: 12px;
    }
    .navbar-brand{
      margin-right: 350px !important;
      font-family: 'Dancing Script', cursive;
      color:cyan !important;
    }
    .padding-left{
      padding-left: 20px;
    }
    footer{
      font-family: 'Dancing Script', cursive;
    }
  }
  img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.2); /* or some other value */
  transform:scale(1.2);
}
.nav-item:hover{
   
  
  
  text-decoration-line: underline;
  
  
}
.noHover{
  pointer-events: none;
}

    @tailwind base;
@tailwind components;
@tailwind utilities;