.container {
    font-family: 'Dancing Script', cursive;
      display: flex;
      width: 100%;
      flex-wrap: row wrap;
      justify-content: space-between;
      column-gap: 9px;
    }
    
    .item {
      
      
      margin-bottom: 2%;
    }
    
    
   
    
    .align{
        
        align-self: center;
        
    }    
    .line-height{
        line-height: 12px;
    }
    .navbar-brand{
      margin-right: 350px !important;
      font-family: 'Dancing Script', cursive;
      color:cyan !important;
    }
    .padding-left{
      padding-left: 20px;
    }
    footer{
      font-family: 'Dancing Script', cursive;
    }
    @tailwind base;
@tailwind components;
@tailwind utilities;